html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
   min-height:100%;
   position:relative;
}

#header {
   padding:0px;
}
#body {
   padding:0px;
   padding-bottom:60px;
   overflow: auto;
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:20px;
}

.myitem{
  font-family: 'Helvetica', sans-serif;
}

.header{
  background-color: #99CB38;
  color: #ffffff;
}

.postTitle{
  padding-left: 1vw;
}

.fontText{
  font-family: 'Open Sans', sans-serif;
}

.fontTitle{
  font-family: 'Roboto', sans-serif;
}

.postInfo{
  padding-top: 1vh;
}
.posthome{
  padding:1vw;
}

.navbar .navbar-nav {
  color: black;
  font: bold 17px georgia;
  vertical-align: center;
}
.carousel-inner > .item > img {	
  margin: auto;
  width: 100%;
}
.navbar-default .navbar-nav > li > a{
  color: white;
}
.carousel{ 
  background-color: #99CB38;
  color: #ffffff;
}

.logo {
  color: #fff3b0;
  font-size: 200px;
}
.panel {

  transition: box-shadow 0.5s;
}

.panel:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-heading {
  color: black !important;
  background-color: #99CB38 !important;
  padding: 2px;
  font: bold, 25px georgia;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

#copyright {
  font-family: 'Roboto', sans-serif;
  background-color: #99CB38;
  color: white;
  text-align: center;
  clear: both;
}

@media (min-width: 768px) {
 .col-sm-2 .col-sm-3 .col-sm-8 .col-sm-9{
  text-align: center;
  }

  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
    width: 400px;
  	height: 300px;
  	background-color: #99CB38;
  }
  .carousel-inner > .item > img {	
  	height: 65vh;
  }
  .nav{
  	margin-top: 1%;
  	float: right;
  }
}
}
@media (max-width: 768px) {
  .col-sm-2 .col-sm-1 .col-sm-3 .col-sm-8 .col-sm-9 .col-sm-10{
  text-align: center;
  }

  .carousel-inner > .item > img {	
    height: 30vh;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
   .collapse navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .collapse navbar-nav {
        text-align: center;
    }
  .centercontainer{
    text-align: center;
  }
  #sendbutton{
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 575px){
 #rc-imageselect, .g-recaptcha {
  transform:scale(0.77);
  -webkit-transform:scale(0.77);
  transform-origin:0 0;
  -webkit-transform-origin:0 0;
  } 
}

#photos {
   /* Prevent vertical gaps */
   line-height: 0;
   
   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}
@media (min-width: 1000px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
  #photos img {
  padding: 0.5vw;
  }
}

@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
  #photos img {
  padding: 0.7vw;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
  #photos img {
  padding: 1vw;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
  #photos img {
  padding: 2vw;
  }
}